name: flutter_arc_text
description: Flutter widget that renders text along the arc with configurable radius.
version: 0.4.0-nullsafety.0
homepage: https://github.com/ookami-kb/flutter_arc_text

environment:
  sdk: ">=2.12.0-0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mews_pedantic: ^0.1.1
